* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.App {
  text-align: center;
}

.header {
  height: 80px;
  background: #c0f4ff;
}

.main {
  height: calc(100vh - 80px);
}

.main .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main .container > ul {
  display: flex;
  flex-direction: column;
}

.main .container .input_wrap {
  display: flex;
  flex-direction: row;
}

.main .container .input_wrap li {
  margin: 10px;
}

input {
  width: 64px;
  height: 64px;
  font-size: 32px;
  text-align: center;
  border: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
}